<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- Ex 1 & 5: bean definition for the repository -->
    <bean id="bookRepository" class="com.library.repository.BookRepository"/>

    <!-- Ex 1 & 5: bean definition for the service
         Ex 7: constructor injection (catalogueName)
         Ex 2 & 7: setter injection wiring BookRepository -->
    <bean id="bookService" class="com.library.service.BookService">
        <constructor-arg value="Central Library Catalogue"/>
        <property name="bookRepository" ref="bookRepository"/>
    </bean>

    <!-- Ex 3 & 8: enable @AspectJ auto-proxy and register the aspect -->
    <aop:aspectj-autoproxy/>
    <bean id="loggingAspect" class="com.library.aspect.LoggingAspect"/>

</beans>
